
<p>
  <strong>Coupon Code:</strong>
  <%= @coupon.coupon_code %>
</p>

<p>
  <strong>Coupon Status:</strong>
  <%= @coupon.coupon_status %>
</p>
<p>
  <strong>Coupon Description:</strong>
  <%= @coupon.description %>
</p>
<%= link_to 'Back', coupons_path %>
