<h1>Editing Apartment Payment</h1>

<%= render 'form', apartment_payment: @apartment_payment %>

<%= link_to 'Show', office_deal_apartment_payment_path(@apartment_payment.office_deal,@apartment_payment) %> |
<%= link_to 'Back', office_deal_apartment_payments_path %>
