<p id="notice"><%= notice %></p>

<h1>Apartment Payments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Amount paid</th>
      <th>Payment date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartment_payments.each do |apartment_payment| %>
      <tr>
        <td><%= apartment_payment.amount_paid %></td>
        <td><%= apartment_payment.payment_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment Payment', new_office_deal_apartment_payment_path, class: 'btn btn-primary' %>
