<h1>Editing Construction Payment</h1>

<%= render 'form', construction_payment: @construction_payment %>

<%= link_to 'Show', @construction_payment %> |
<%= link_to 'Back', construction_payments_path %>
